Repository tkaljevic/lint-prettier-example: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

OPT-04 settings updated for list staged
  .lintstagedrc.json
Due: prettier --write

OPT-05 - Lint and prettier rules
  .eslintrc.json
  .prettierrc.json
  package-lock.json
  package.json
Due: prettier --write

TEST RULES
  .eslintrc.json
  src/app/app.ts
Due: prettier --write, eslint --fix

TEST RULES 2
  .prettierrc.json
  src/app/app.config.ts
  src/app/app.spec.ts
  src/main.ts
Due: prettier --write, eslint --fix

OPT-09 - Editor config aligned with prettier rules
  .prettierrc.json
  .vscode/settings.json
Due: prettier --write

OPT-10 - Peacock colors removed
  .vscode/settings.json
Due: prettier --write

OPT-11 - Ident style aligned for all config files
  .editorconfig
  .eslintrc.json
  .prettierrc.json
Due: prettier --write

OPT-12 - Additional rules #1
  .eslintrc.json
Due: prettier --write

OPT-13 - Additional rules #2
  .eslintrc.json
Due: prettier --write

OPT -14 - HTML Rules defined
  .eslintrc.json
Due: prettier --write

OPT-16 - TEST RULES #3
  src/app/app.html
Due: prettier --write

OPT-15 - Minor settings update
  .vscode/settings.json
Due: prettier --write

OPT-17 - Readme updated
  .vscode/settings.json
  README.md
  src/app/app.html
  src/app/app.ts
Due: prettier --write, eslint --fix

OPT-18 - Readme updated and formatted
  .vscode/settings.json
  README.md
Due: prettier --write

OPT-21 - OnPush rule added to existing eslint rules list
  .eslintrc.json
  src/app/app.ts
Due: prettier --write, eslint --fix

OPT-23 - VS Code extensions list updated
  .vscode/extensions.json
Due: prettier --write

OPT-23 - TEST COMMIT
  ESLINT_ANNOTATED.md
  PRETTIER_ANNOTATED.md
  package-lock.json
  src/app/app.ts
Due: prettier --write, eslint --fix

S31 - Guide draft
  .eslintrc.json
  guide_draft.md
Due: prettier --write

HAR-999 - AI Skill - draft version introduced
  .eslintignore
  angular-typescript-style/SKILL.md
  angular-typescript-style/assets/component-template.ts
  angular-typescript-style/assets/form-template.ts
  angular-typescript-style/assets/models/forms/index.ts
  angular-typescript-style/assets/models/forms/user-form-data.model.ts
  angular-typescript-style/assets/models/forms/user-form.model.ts
  angular-typescript-style/assets/models/index.ts
  angular-typescript-style/assets/models/users/create-user-dto.model.ts
  angular-typescript-style/assets/models/users/index.ts
  angular-typescript-style/assets/models/users/update-user-dto.model.ts
  angular-typescript-style/assets/models/users/user.model.ts
  angular-typescript-style/assets/service-template.ts
  angular-typescript-style/assets/state-service-template.ts
  angular-typescript-style/references/angular-conventions.md
  angular-typescript-style/references/best-practices.md
  angular-typescript-style/references/eslint-rules.md
  angular-typescript-style/references/naming-conventions.md
  angular-typescript-style/references/prettier-rules.md
  guide_draft.md
  skills-best-practices.md
Due: prettier --write, eslint --fix

HAR-999 - Guide updated according to the team taste
  .vscode/extensions.json
  guide_draft.md
Due: prettier --write

HAR-999 - Add guidelines for deferrable views and pure pipes in Angular templates
  guide_draft.md
Due: none

HAR-999 - Guide style rules applied to eslint, prttier and editorconfig settings
  .editorconfig
  .eslintrc.json
  .prettierrc.json
  guide_draft.md
Due: prettier --write

HAR-999 - Code-style-guide skill introduced
  .eslintignore
  code-style-guide/SKILL.md
  code-style-guide/assets/component-template.ts
  code-style-guide/assets/form-service-template.ts
  code-style-guide/assets/models/forms/index.ts
  code-style-guide/assets/models/forms/user-form-data.model.ts
  code-style-guide/assets/models/forms/user-form.model.ts
  code-style-guide/assets/models/index.ts
  code-style-guide/assets/models/users/create-user-dto.model.ts
  code-style-guide/assets/models/users/index.ts
  code-style-guide/assets/models/users/update-user-dto.model.ts
  code-style-guide/assets/models/users/user.model.ts
  code-style-guide/assets/service-template.ts
  code-style-guide/assets/state-service-template.ts
  code-style-guide/references/angular-conventions.md
  code-style-guide/references/best-practices.md
  code-style-guide/references/eslint-rules.md
  code-style-guide/references/naming-conventions.md
  code-style-guide/references/prettier-rules.md
Due: prettier --write, eslint --fix

Guide update
  .vscode/settings.json
  CODE-STYLE-GUIDE.MD
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.ts) or (any of: *.html)) or (any of: *.scss)) or (any of: *.json)
  eslint --fix: any of: *.ts
